<div style="z-index: 99;margin-bottom: 5px;">
  <nav *ngIf="isUserLoggedIn" class="navbar navbar-expad-lg navbar-dark bg-primary">
    <ul class="navbar-nav navbar-left">
      <div (click)="goHome()" style="cursor: pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
          class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
        </svg>
      </div>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">

      <li *ngIf="isUserLoggedIn" class="nav-item avatar dropdown" style="cursor:pointer">
        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="http://res.cloudinary.com/dk34qvajk/image/upload/v1513190129/placeholder.png"
            style="border-radius:15px; height:35px; width:35px;">
          {{userLoggedName}}
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-purple" aria-labelledby="navbarDropdownMenuLink-5">
          <a *ngIf="isAdmin" class="dropdown-item waves-effect waves-light" [routerLinkActive]="['active']"
            [routerLink]="['/lecturer']">Add Lecturer</a>
          <a *ngIf="isAdmin" class="dropdown-item waves-effect waves-light" [routerLinkActive]="['active']"
            [routerLink]="['/reports']">Reports</a>
          <a *ngIf="isUserLoggedIn" class="dropdown-item waves-effect waves-light" [routerLinkActive]="['active']"
            [routerLink]="['/student']">Add Student</a>
          <a *ngIf="isUserLoggedIn" class="dropdown-item waves-effect waves-light" [routerLinkActive]="['active']"
            [routerLink]="['/group']">Register Group</a>
          <a class="dropdown-item waves-effect waves-light" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}" (click)="Logout()">Logout</a>
        </div>
      </li>
      </a>
      </li>
    </ul>
  </nav>
</div>